.container {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 5rem 0;
    line-height: 1.5;
}
.sh {
    text-align: center;
    margin: 0 auto 3.5rem;
}
.sh-t {
    font-size: 45px;
}
.sh-st {
    margin-top: 0.8rem;
    font-size: 22px;
    font-weight: 500;
    color: #2c3e50;
}
.btn-g {
    color: black;
    background: gold;
    border: 2px solid gold;
    font-weight: bold;
    border-radius: 30px;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    transition: all 0.5s ease;
}
.btn-g:hover {
    padding: 0.75rem 2.5rem;
}
.btn-b {
    color: white;
    background: #000;
    border: 2px solid #000;
    font-weight: bold;
    border-radius: 30px;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    transition: all 0.5s ease;
}
.btn-b:hover {
    padding: 0.75rem 2.5rem;
}
a {
    text-decoration: none;
}
i {
    font-size: 25px;
    transition: all 0.4s ease;
}
i:hover {
    color: gold;
}
.gold {
    color: gold;
}
.white {
    color: white;
}
.black {
    color: black;
}